In [1]:
1.06

1.06

In [2]:
1.06 ** 2

1.1236000000000002

In [3]:
x = "string"

In [4]:
print(x)

string

In [5]:
y = 13

In [6]:
'My string {x} and number {y}'

'My string {x} and number {y}'

In [7]:
'My string {x} and number {y}'.format(x,y)

KeyError: 'x'

In [8]:
'My string {} and number {}'.format(x,y)

'My string string and number 13'

In [10]:
x = 'Fatih'
y = 512426
print('My name is {} and number is {}'.format(x,y))

My name is Fatih and number is 512426

In [12]:
print('My name is {one} and number is {two} and one more {one}'.format(one = x, two = y))

My name is Fatih and number is 512426 and one more Fatih

In [15]:
s = 'abcdef'
print(s[:])
print(s[1:3])
print(s[0:])
print(s[:4])

abcdef
bc
abcdef
abcd

In [16]:
my_list = [1,2,3,'a']

In [17]:
my_list.append('d')

In [18]:
my_list

[1, 2, 3, 'a', 'd']

In [19]:
dictionary1 = {
    'key1':'value1',
    'key2':[1324,22,33]
}

In [20]:
dictionary1

{'key1': 'value1', 'key2': 1324}

dictionary1['key1']

In [23]:
dictionary1['key2']

1324

In [26]:
dictionary1['key2'][1]

TypeError: 'int' object is not subscriptable

In [27]:
d1 = {'1':'a','2':['b','c','d']}

In [29]:
d = {'k1':[1,2,3]}

In [30]:
d['k1'][1]

2

In [31]:
my_list = d['k1']

In [32]:
my_list[0]

1

In [33]:
my_list

[1, 2, 3]

In [34]:
d = {
    'k1':
        {'innerkey':[1,2,3]}
}

In [35]:
print(d)

{'k1': {'innerkey': [1, 2, 3]}}

In [38]:
d['k1']['innerkey'][0]

1

In [39]:
True
False

False

In [40]:
my_list =[1,2,3]

In [41]:
t = (4,5,6)

In [42]:
t[0]

4

In [43]:
t[0] = 124

TypeError: 'tuple' object does not support item assignment

In [44]:
set1 = {1,1,1,1,1,2,2,2,4,4,4,45,5,5,5}

In [45]:
print(set1)

{1, 2, 4, 5, 45}

In [46]:
set([1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3])

{1, 2, 3}

In [47]:
s = {1,2,3}

In [48]:
s.add(5)

In [49]:
print(s)

{1, 2, 3, 5}

In [134]:
#      1 === 1

In [51]:
1 != 5

True

In [57]:
1<2 | 2<3

True

In [58]:
if 1<2:
    print("ho")

ho

In [59]:
if True:
    x = 2 ** 8

In [60]:
x

256

In [64]:
if 1==2:
    print("bbbb")
elif 2 == 2:
    print('use elif instead of else if')
else:
    print('444')

use elif instead of else if

FOR LOOP

In [65]:
seq = [1,2,3,4,5,6,7]

In [66]:
for num in seq:
    print(num)

1
2
3
4
5
6
7

In [73]:
i = 1
while i < 5:
    print("I is = {}".format(i))
    i = i+1

I is = 1
I is = 2
I is = 3
I is = 4

In [74]:
range(0,5)

range(0, 5)

In [75]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [77]:
list(range(0,8))#convert it to list

[0, 1, 2, 3, 4, 5, 6, 7]

In [79]:
list(range(0,4))*2

[0, 1, 2, 3, 0, 1, 2, 3]

In [80]:
x = [1,2,3,4]

In [81]:
out = []

for num in x:
    out.append(num ** 2)

In [82]:
print(out)

[1, 4, 9, 16]

SAME CALC in DIFF WAY

In [83]:
out2 = [num ** 2 for num in x]

In [84]:
print(out2)

[1, 4, 9, 16]

FUNCTIONS

In [87]:
def my_func(param1 =0):
    print(param1**2)

In [88]:
my_func(4)

16

In [89]:
my_func()

0

In [93]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num ** 2

In [91]:
output = square(8)

In [92]:
output

64

square  "After typing func name 
press SHIFT + TAB to see explanation"

def sum(var):
    return var

In [95]:
def sum(var, var2):
    return var + var2

In [96]:
sum(3,4)

7

In [103]:
#sum(3)

In [109]:
def times2 (num):
    return num * 2

In [110]:
print(times2(3))

6

In [107]:
#map()

In [108]:
seq = [1,2,3,4,5]

In [111]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

#lambda expression ANYNOMOUS FUNCTION

In [112]:
t = lambda var: var*10

In [113]:
t(10)

100

In [114]:
t(300)

3000

In [115]:
t(3.5)

35.0

In [116]:
#passing lambda function through map

In [118]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [119]:
#filter function

In [120]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [121]:
s = "Hello my name is Sam"

In [122]:
s.lower()

'hello my name is sam'

In [123]:
s.upper()

'HELLO MY NAME IS SAM'

In [124]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [125]:
d = {'k1':1, 'k2':2}

In [126]:
d

{'k1': 1, 'k2': 2}

In [129]:
d.get("k1")

1

In [130]:
d.keys()

dict_keys(['k1', 'k2'])

In [131]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [132]:
'x' in [1,2,3,4]

False

In [133]:
'y' in [1,2,3,'y']

True

In [135]:
tuble1 = [(1,2),(3,4),(5,6)]

In [138]:
for a,b in tuble1:
    print(b)
    print(a)
    print(a*b)

2
1
2
4
3
12
6
5
30