##PAndas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

## Order is imp data,index

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [14]:
ser1 = pd.Series(['Turkey','USA','Japan','China'],[1,2,3,4])

In [15]:
ser1

1    Turkey
2       USA
3     Japan
4     China
dtype: object

In [24]:
ser2 = pd.Series(['Turkey','Italy','Pakistan','Russia'],[1,2,3,4])

In [25]:
ser2

1      Turkey
2       Italy
3    Pakistan
4      Russia
dtype: object

In [26]:
ser1[2]

'USA'

In [28]:
ser1 + ' ' + ser2

1     Turkey Turkey
2         USA Italy
3    Japan Pakistan
4      China Russia
dtype: object